body {
    margin: 0;
    padding: 0;
    font-family: 'Cylburn', cursive;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

header p {
    margin: 0;
    font-size: 0.8em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #2c3e50;
}

section {
    padding: 50px 20px;
}

#intro {
    display: flex;
    align-items: center;
}

.intro-content {
    flex: 1;
}

.intro-image {
    flex: 1;
    text-align: center;
}

.project-divider {
    border-bottom: 2px solid #14213D;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    color: #2980b9;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.skills-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.skills-item h3 {
    margin-top: 0;
}

.languages-item {
    margin-bottom: 20px;
}

.languages-item h3 {
    margin-top: 0;
}

.intro-content button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.intro-content button:hover {
    background-color: #27ae60;
}
